@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css);
/* line 1, ../../stylesheets/partials/_elements.scss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../../stylesheets/partials/_elements.scss */
body, html {
  font-size: 100%;
  height: 100%;
}

/* line 11, ../../stylesheets/partials/_elements.scss */
body {
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  background-color: #597754;
}

/* line 17, ../../stylesheets/partials/_elements.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}

/* line 22, ../../stylesheets/partials/_elements.scss */
a {
  text-decoration: none;
  outline: 0;
}
/* line 25, ../../stylesheets/partials/_elements.scss */
a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

/* line 31, ../../stylesheets/partials/_elements.scss */
.animate, .btn-facebook {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 35, ../../stylesheets/partials/_elements.scss */
.small {
  font-size: 0.9em;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  /* line 35, ../../stylesheets/partials/_elements.scss */
  .small {
    font-size: 0.7em;
    font-weight: 300;
  }
}

/* line 1, ../../stylesheets/partials/_layout.scss */
.p20 {
  margin-bottom: 20px;
}

/* line 5, ../../stylesheets/partials/_layout.scss */
header {
  position: relative;
  z-index: 2;
}

/* line 10, ../../stylesheets/partials/_layout.scss */
.right {
  text-align: right;
}

/* line 14, ../../stylesheets/partials/_layout.scss */
.center {
  text-align: center;
}

/* line 18, ../../stylesheets/partials/_layout.scss */
.container {
  position: relative;
}

/* line 22, ../../stylesheets/partials/_layout.scss */
#push {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  /* Removes flicker in certain cases */
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
/* line 34, ../../stylesheets/partials/_layout.scss */
#push.active {
  -webkit-transform: translate3d(-260px, 0, 0);
  -moz-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  -o-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0);
  /* IE 8 and 9  */
  left: -260px \0/;
}

/* line 40, ../../stylesheets/partials/_layout.scss */
.ng-view {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 46, ../../stylesheets/partials/_layout.scss */
.middle {
  display: table-cell;
  vertical-align: middle;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 53, ../../stylesheets/partials/_layout.scss */
.box {
  padding: 7em 0;
}
@media only screen and (max-width: 767px) {
  /* line 53, ../../stylesheets/partials/_layout.scss */
  .box {
    padding: 4em 0;
  }
}

/* line 61, ../../stylesheets/partials/_layout.scss */
.box-w-sample {
  padding: 8em 0 240px 0;
}
@media only screen and (max-width: 767px) {
  /* line 61, ../../stylesheets/partials/_layout.scss */
  .box-w-sample {
    padding: 5em 0 240px 0;
  }
}

/* line 69, ../../stylesheets/partials/_layout.scss */
.inline {
  display: inline-block;
}

/* line 73, ../../stylesheets/partials/_layout.scss */
.profile-box {
  background-color: #fff;
  height: 100%;
}

/* line 78, ../../stylesheets/partials/_layout.scss */
.profile-information {
  margin-top: -113.5px;
  margin-bottom: 1em;
}
@media only screen and (max-width: 1024px) {
  /* line 78, ../../stylesheets/partials/_layout.scss */
  .profile-information {
    margin-top: -75px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 78, ../../stylesheets/partials/_layout.scss */
  .profile-information {
    margin-top: -50px;
  }
}

/* line 94, ../../stylesheets/partials/_layout.scss */
.tab-view {
  background-color: #eeeeee;
  color: #4f4f4f;
  padding: 1em 0;
}
@media only screen and (max-width: 767px) {
  /* line 94, ../../stylesheets/partials/_layout.scss */
  .tab-view {
    padding: 0;
  }
}

/* line 7, ../../stylesheets/partials/_typography.scss */
h1, h2 {
  font-weight: 100;
  line-height: 1em;
}

/* line 12, ../../stylesheets/partials/_typography.scss */
h1 {
  font-size: 6em;
}
@media only screen and (max-width: 1199px) {
  /* line 12, ../../stylesheets/partials/_typography.scss */
  h1 {
    font-size: 4em;
  }
}

/* line 20, ../../stylesheets/partials/_typography.scss */
h2 {
  font-size: 3em;
  margin-top: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 20, ../../stylesheets/partials/_typography.scss */
  h2 {
    font-size: 2em;
  }
}

/* line 29, ../../stylesheets/partials/_typography.scss */
p {
  font-weight: 300;
  font-size: 1.1em;
}

/* line 34, ../../stylesheets/partials/_typography.scss */
.large {
  font-size: 2.7em;
}
@media only screen and (max-width: 767px) {
  /* line 34, ../../stylesheets/partials/_typography.scss */
  .large {
    font-size: 2em;
  }
}

/* line 42, ../../stylesheets/partials/_typography.scss */
.thin {
  font-weight: 100;
}

/* line 46, ../../stylesheets/partials/_typography.scss */
.light {
  font-weight: 300;
}

/* line 50, ../../stylesheets/partials/_typography.scss */
.p1 {
  margin-bottom: 8px;
}

/* line 1, ../../stylesheets/partials/_buttons.scss */
#btn-menu {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 30px;
  line-height: 0;
  color: #fff;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
/* line 12, ../../stylesheets/partials/_buttons.scss */
#btn-menu.active, #btn-menu:focus {
  opacity: .5;
  color: #000;
}
@media only screen and (min-width: 1025px) {
  /* line 1, ../../stylesheets/partials/_buttons.scss */
  #btn-menu {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  /* line 19, ../../stylesheets/partials/_buttons.scss */
  #btn-menu:hover {
    opacity: .5;
    color: #000;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../stylesheets/partials/_buttons.scss */
  #btn-menu {
    right: 10px;
    top: 10px;
    padding: 10px;
  }
}

/* line 32, ../../stylesheets/partials/_buttons.scss */
.btn-round, .btn-profile, .post-pillar, .feed-post-pillar, .activity-post-pillar, .photo-post-pillar, .settings-icon, .photo-editor {
  border: 1px solid white;
  border-radius: 50%;
  display: block;
  font-size: 2em;
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  line-height: 2.5em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  margin: 0 auto;
}

/* line 45, ../../stylesheets/partials/_buttons.scss */
.btn-home {
  color: white;
  background-color: transparent;
  border-color: white;
  font-weight: 300;
}
/* line 50, ../../stylesheets/partials/_buttons.scss */
.btn-home.touch, .btn-home:focus {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: white;
  outline: 0;
}
/* line 56, ../../stylesheets/partials/_buttons.scss */
.btn-home:hover {
  color: white;
}
@media only screen and (min-width: 1025px) {
  /* line 45, ../../stylesheets/partials/_buttons.scss */
  .btn-home {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  /* line 62, ../../stylesheets/partials/_buttons.scss */
  .btn-home:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: white;
  }
}

/* line 69, ../../stylesheets/partials/_buttons.scss */
.pillars, .selected-pillars, .settings-pillars {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 74, ../../stylesheets/partials/_buttons.scss */
.pillars li, .selected-pillars li, .settings-pillars li {
  display: inline-block;
  padding: 7px;
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}
/* line 82, ../../stylesheets/partials/_buttons.scss */
.pillars li.active i, .selected-pillars li.active i, .settings-pillars li.active i, .pillars li.active:hover i, .selected-pillars li.active:hover i, .settings-pillars li.active:hover i {
  background-color: #54ba53;
  border-color: #54ba53;
}
@media only screen and (min-width: 1025px) {
  /* line 88, ../../stylesheets/partials/_buttons.scss */
  .pillars li:hover i, .selected-pillars li:hover i, .settings-pillars li:hover i {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
/* line 93, ../../stylesheets/partials/_buttons.scss */
.pillars li i, .selected-pillars li i, .settings-pillars li i {
  border: 1px solid white;
  border-radius: 50%;
  display: block;
  font-size: 2em;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 64px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 107, ../../stylesheets/partials/_buttons.scss */
.selected-pillars {
  margin-bottom: 50px;
}
/* line 111, ../../stylesheets/partials/_buttons.scss */
.selected-pillars li {
  font-size: 1.4em;
  font-weight: 300;
  cursor: default;
}
/* line 116, ../../stylesheets/partials/_buttons.scss */
.selected-pillars li i {
  font-size: 2em;
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  margin: 3px;
}
@media only screen and (max-width: 767px) {
  /* line 107, ../../stylesheets/partials/_buttons.scss */
  .selected-pillars {
    margin-bottom: 30px;
  }
  /* line 128, ../../stylesheets/partials/_buttons.scss */
  .selected-pillars li {
    font-size: 1em;
  }
}

/* line 134, ../../stylesheets/partials/_buttons.scss */
.btn-facebook {
  background-color: #4c66a4 !important;
  border-color: #4c66a4 !important;
  font-weight: 100;
  font-size: 2.5em;
  padding: .6em 1em;
  border-radius: .15em;
}
/* line 142, ../../stylesheets/partials/_buttons.scss */
.btn-facebook:hover {
  opacity: 0.9;
}
/* line 146, ../../stylesheets/partials/_buttons.scss */
.btn-facebook i {
  margin-right: .5em;
}
@media only screen and (max-width: 767px) {
  /* line 134, ../../stylesheets/partials/_buttons.scss */
  .btn-facebook {
    font-weight: 400;
    font-size: .9em;
    padding: 1em .5em;
    border-radius: 4px;
    width: 90%;
  }
}

/* line 159, ../../stylesheets/partials/_buttons.scss */
.btn-file {
  position: relative;
  overflow: hidden;
}
/* line 163, ../../stylesheets/partials/_buttons.scss */
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

/* line 179, ../../stylesheets/partials/_buttons.scss */
.btn-next, .btn-next-pillars {
  display: inline-block;
  margin: 4px;
}
/* line 182, ../../stylesheets/partials/_buttons.scss */
.btn-next.touch i, .touch.btn-next-pillars i, .btn-next:focus i, .btn-next-pillars:focus i {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 186, ../../stylesheets/partials/_buttons.scss */
.btn-next i, .btn-next-pillars i {
  height: 72px;
  width: 72px;
  border: 1px solid #fff;
  line-height: 72px;
  text-align: center;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  display: inline-block;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media only screen and (min-width: 1025px) {
  /* line 200, ../../stylesheets/partials/_buttons.scss */
  .btn-next:hover i, .btn-next-pillars:hover i {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media only screen and (max-width: 767px) {
  /* line 179, ../../stylesheets/partials/_buttons.scss */
  .btn-next, .btn-next-pillars {
    margin: 8px;
  }
}

/* line 210, ../../stylesheets/partials/_buttons.scss */
.btn-next-pillars {
  vertical-align: top;
}

/* line 215, ../../stylesheets/partials/_buttons.scss */
#btn-plus {
  font-size: 2.5em;
  font-weight: 100;
  color: #4f4f4f;
  width: 227px;
}
@media only screen and (max-width: 1024px) {
  /* line 215, ../../stylesheets/partials/_buttons.scss */
  #btn-plus {
    line-height: 1em;
    font-size: 1.7em;
    width: 150px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 215, ../../stylesheets/partials/_buttons.scss */
  #btn-plus {
    font-size: 1em;
    width: 100px;
    font-weight: 300;
  }
}

/* line 234, ../../stylesheets/partials/_buttons.scss */
.btn-profile, .post-pillar, .feed-post-pillar, .activity-post-pillar, .photo-post-pillar, .settings-icon {
  border-color: #cccccc;
  color: #4f4f4f;
}

/* line 240, ../../stylesheets/partials/_buttons.scss */
.btn-tab {
  color: #999;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
}
/* line 248, ../../stylesheets/partials/_buttons.scss */
.btn-tab.selected {
  background-color: #eeeeee;
  color: #4f4f4f;
}
@media only screen and (max-width: 767px) {
  /* line 240, ../../stylesheets/partials/_buttons.scss */
  .btn-tab {
    font-size: .9em;
  }
}

/* line 1, ../../stylesheets/partials/_modules.scss */
#logo {
  position: absolute;
  left: 50px;
  top: 50px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 299px;
  height: 48px;
}
@media only screen and (max-width: 767px) {
  /* line 1, ../../stylesheets/partials/_modules.scss */
  #logo {
    left: 20px;
    top: 20px;
    width: 39px;
    height: 45px;
  }
}
/* line 18, ../../stylesheets/partials/_modules.scss */
#logo a {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/agreatfirstdate-logo@2x.png") no-repeat center center;
  /* IE 8 and below */
  background: url("../img/agreatfirstdate-logo.png") no-repeat center center\9;
  background-size: 298px 47px;
}
@media only screen and (max-width: 767px) {
  /* line 18, ../../stylesheets/partials/_modules.scss */
  #logo a {
    background: url("../img/heart-logo@2x.png") no-repeat;
    background-size: 39px 45px;
  }
}

/* line 33, ../../stylesheets/partials/_modules.scss */
#gradient, .photo-post-gradient {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(34, 34, 34, 0.4)), color-stop(100%, rgba(34, 34, 34, 0)));
  background-image: -webkit-linear-gradient(rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0));
  background-image: -moz-linear-gradient(rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0));
  background-image: -o-linear-gradient(rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0));
  background-image: linear-gradient(rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0));
  width: 100%;
  height: 200px;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  /* line 33, ../../stylesheets/partials/_modules.scss */
  #gradient, .photo-post-gradient {
    height: 100px;
  }
}

/* line 44, ../../stylesheets/partials/_modules.scss */
.sample-post {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  text-align: center;
}
/* line 51, ../../stylesheets/partials/_modules.scss */
.sample-post img {
  border-radius: 50%;
  margin: 0 4px;
  width: 64px;
  height: 64px;
}
/* line 57, ../../stylesheets/partials/_modules.scss */
.sample-post i {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.5em;
  height: 64px;
  width: 64px;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
  margin: 0 4px;
}
/* line 69, ../../stylesheets/partials/_modules.scss */
.sample-post .text {
  font-size: 1.1em;
}
/* line 72, ../../stylesheets/partials/_modules.scss */
.sample-post .what {
  font-size: 0.8em;
  cursor: pointer;
}

/* line 78, ../../stylesheets/partials/_modules.scss */
.or {
  overflow: hidden;
  text-align: center;
  font-size: 2.2em;
  font-weight: 100;
  margin: .5em auto;
  width: 50%;
}
/* line 85, ../../stylesheets/partials/_modules.scss */
.or:before, .or:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
/* line 94, ../../stylesheets/partials/_modules.scss */
.or:before {
  right: 0.5em;
  margin-left: -50%;
}
/* line 98, ../../stylesheets/partials/_modules.scss */
.or:after {
  left: 0.5em;
  margin-right: -50%;
}
@media only screen and (max-width: 767px) {
  /* line 78, ../../stylesheets/partials/_modules.scss */
  .or {
    font-size: 1.2em;
    font-weight: 300;
  }
}

/* line 109, ../../stylesheets/partials/_modules.scss */
.cover-image-box {
  width: 100%;
  height: 600px;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  /* line 109, ../../stylesheets/partials/_modules.scss */
  .cover-image-box {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 109, ../../stylesheets/partials/_modules.scss */
  .cover-image-box {
    height: 200px;
  }
}
/* line 120, ../../stylesheets/partials/_modules.scss */
.cover-image-box .cover-image {
  width: 100%;
  height: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 128, ../../stylesheets/partials/_modules.scss */
.cover-image-box .bottom-gradient {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(34, 34, 34, 0)), color-stop(100%, rgba(34, 34, 34, 0.8)));
  background-image: -webkit-linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8));
  background-image: -moz-linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8));
  background-image: -o-linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8));
  background-image: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8));
  width: 100%;
  height: 200px;
  margin-top: -200px;
}
@media only screen and (max-width: 767px) {
  /* line 128, ../../stylesheets/partials/_modules.scss */
  .cover-image-box .bottom-gradient {
    height: 100px;
    margin-top: -100px;
  }
}

/* line 140, ../../stylesheets/partials/_modules.scss */
.avatar {
  position: relative;
  width: 227px;
  height: 227px;
  overflow: hidden;
  display: block;
  margin: 0 0 1em auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 149, ../../stylesheets/partials/_modules.scss */
.avatar img {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  /* line 140, ../../stylesheets/partials/_modules.scss */
  .avatar {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 140, ../../stylesheets/partials/_modules.scss */
  .avatar {
    width: 100px;
    height: 100px;
  }
}

/* line 164, ../../stylesheets/partials/_modules.scss */
.my-name {
  font-size: 4.5em;
  font-weight: 100;
  line-height: 1em;
}
@media only screen and (max-width: 1024px) {
  /* line 164, ../../stylesheets/partials/_modules.scss */
  .my-name {
    font-size: 3em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 164, ../../stylesheets/partials/_modules.scss */
  .my-name {
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: -4px;
  }
}

/* line 181, ../../stylesheets/partials/_modules.scss */
.my-location, .my-points, .my-connected-networks {
  font-weight: 300;
  display: inline-block;
  margin: 0 .5em;
  line-height: 2.5em;
}
@media only screen and (max-width: 1024px) {
  /* line 181, ../../stylesheets/partials/_modules.scss */
  .my-location, .my-points, .my-connected-networks {
    line-height: 1em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 181, ../../stylesheets/partials/_modules.scss */
  .my-location, .my-points, .my-connected-networks {
    line-height: 1em;
  }
}

/* line 196, ../../stylesheets/partials/_modules.scss */
.my-location, .my-points {
  font-size: 1.2em;
}
@media only screen and (max-width: 1024px) {
  /* line 196, ../../stylesheets/partials/_modules.scss */
  .my-location, .my-points {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 767px) {
  /* line 196, ../../stylesheets/partials/_modules.scss */
  .my-location, .my-points {
    font-size: 0.7em;
    font-weight: 400;
  }
}

@media only screen and (max-width: 767px) {
  /* line 209, ../../stylesheets/partials/_modules.scss */
  .my-connected-networks {
    display: none;
    color: #cccccc;
    margin: 9px 0 0 2px;
  }
}
/* line 217, ../../stylesheets/partials/_modules.scss */
.my-connected-networks i {
  margin: 0 2px;
  font-size: 1.5em;
}
@media only screen and (max-width: 767px) {
  /* line 217, ../../stylesheets/partials/_modules.scss */
  .my-connected-networks i {
    font-size: 1em;
  }
}

/* line 228, ../../stylesheets/partials/_modules.scss */
.my-pillars ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
/* line 233, ../../stylesheets/partials/_modules.scss */
.my-pillars ul li {
  display: inline-block;
  padding: .5em;
}
/* line 237, ../../stylesheets/partials/_modules.scss */
.my-pillars ul li i {
  position: relative;
}
/* line 240, ../../stylesheets/partials/_modules.scss */
.my-pillars ul li i span {
  position: absolute;
  font-size: .5em;
  display: block;
  line-height: 1em;
  background-color: white;
  bottom: 5px;
  right: 5px;
  padding: 1px;
  font-weight: 100;
}
@media only screen and (max-width: 767px) {
  /* line 228, ../../stylesheets/partials/_modules.scss */
  .my-pillars ul {
    margin: .5em 0 .8em 0;
  }
  /* line 257, ../../stylesheets/partials/_modules.scss */
  .my-pillars ul li {
    padding: 1px;
  }
  /* line 260, ../../stylesheets/partials/_modules.scss */
  .my-pillars ul li i {
    font-size: 17px;
  }
  /* line 263, ../../stylesheets/partials/_modules.scss */
  .my-pillars ul li i span {
    bottom: 2px;
    right: 1px;
  }
}

/* line 273, ../../stylesheets/partials/_modules.scss */
.about-me, .about-you {
  color: #4f4f4f;
  line-height: 1.5em;
  font-weight: 300;
  margin: .5em 0;
  overflow: hidden;
  padding-left: .5em;
}
/* line 281, ../../stylesheets/partials/_modules.scss */
.about-me textarea, .about-you textarea {
  width: 100%;
  margin-bottom: 3px;
}
@media only screen and (max-width: 767px) {
  /* line 273, ../../stylesheets/partials/_modules.scss */
  .about-me, .about-you {
    font-size: .8em;
    height: 1.4em;
  }
  /* line 289, ../../stylesheets/partials/_modules.scss */
  .about-me:before, .about-you:before {
    content: "\f196";
    float: right;
    font-family: FontAwesome;
    line-height: 1.5em;
  }
  /* line 296, ../../stylesheets/partials/_modules.scss */
  .about-me.more, .about-you.more {
    height: auto;
  }
  /* line 298, ../../stylesheets/partials/_modules.scss */
  .about-me.more:before, .about-you.more:before {
    content: "";
  }
}

/* line 305, ../../stylesheets/partials/_modules.scss */
.tab-view p {
  padding: 3em 0;
}
@media only screen and (max-width: 767px) {
  /* line 305, ../../stylesheets/partials/_modules.scss */
  .tab-view p {
    font-size: .9em;
    padding: 1em 0;
  }
}

/* line 314, ../../stylesheets/partials/_modules.scss */
.post, .photo-post, .settings-box {
  background-color: white;
  margin: 20px 0;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px;
  font-size: 14px;
  font-weight: 400;
}

/* line 323, ../../stylesheets/partials/_modules.scss */
.post-avatar {
  height: 52px;
  width: 52px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  float: left;
  cursor: pointer;
}

/* line 332, ../../stylesheets/partials/_modules.scss */
.post-title {
  font-weight: 700;
  display: block;
  margin-top: 20px;
}

/* line 338, ../../stylesheets/partials/_modules.scss */
.post-date {
  display: block;
  color: #999999;
  line-height: 1em;
}

/* line 344, ../../stylesheets/partials/_modules.scss */
.post-pillar, .feed-post-pillar, .activity-post-pillar, .photo-post-pillar {
  margin: 10px;
  font-size: 1.5em;
}

/* line 350, ../../stylesheets/partials/_modules.scss */
.feed-post-pillar {
  float: right;
}

/* line 355, ../../stylesheets/partials/_modules.scss */
.activity-post-pillar {
  float: left;
}

/* line 360, ../../stylesheets/partials/_modules.scss */
.activity-post-network {
  float: right;
  color: #cccccc;
  font-size: 1.5em;
}

/* line 366, ../../stylesheets/partials/_modules.scss */
.post-text {
  display: block;
  clear: both;
  margin: 10px 0;
  padding: 10px;
}

/* line 373, ../../stylesheets/partials/_modules.scss */
.post-image {
  width: 100%;
}

/* line 377, ../../stylesheets/partials/_modules.scss */
.photo-post {
  padding: 0;
  position: relative;
}

/* line 383, ../../stylesheets/partials/_modules.scss */
.photo-post-pillar {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  border-color: white;
  margin: 0;
}

/* line 393, ../../stylesheets/partials/_modules.scss */
.photo-post-network {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  font-size: 1.5em;
}

/* line 401, ../../stylesheets/partials/_modules.scss */
.photo-post-gradient {
  height: 100px;
}

/* line 406, ../../stylesheets/partials/_modules.scss */
.settings-box {
  padding: 20px;
}
/* line 410, ../../stylesheets/partials/_modules.scss */
.settings-box h3 {
  margin: .5em 0;
}
/* line 414, ../../stylesheets/partials/_modules.scss */
.settings-box input {
  font-weight: 300;
}
/* line 418, ../../stylesheets/partials/_modules.scss */
.settings-box form {
  margin: 2em;
}
@media only screen and (max-width: 767px) {
  /* line 418, ../../stylesheets/partials/_modules.scss */
  .settings-box form {
    margin: 2em 0;
  }
}
/* line 426, ../../stylesheets/partials/_modules.scss */
.settings-box .to {
  font-weight: 400;
  font-size: 1em;
}

/* line 432, ../../stylesheets/partials/_modules.scss */
.settings-icon {
  font-size: 1.5em;
  float: left;
  margin-right: 10px;
}

/* line 439, ../../stylesheets/partials/_modules.scss */
.settings-pillars {
  text-align: center;
}
/* line 443, ../../stylesheets/partials/_modules.scss */
.settings-pillars li {
  font-size: .9em;
}
/* line 445, ../../stylesheets/partials/_modules.scss */
.settings-pillars li i {
  border-color: #ccc;
}
/* line 448, ../../stylesheets/partials/_modules.scss */
.settings-pillars li.active i {
  color: #fff;
}

/* line 454, ../../stylesheets/partials/_modules.scss */
.white-box {
  background-color: #fff;
  min-height: 100%;
  padding-bottom: 7em;
}
@media only screen and (max-width: 767px) {
  /* line 454, ../../stylesheets/partials/_modules.scss */
  .white-box {
    padding-bottom: 4em;
  }
}

/* line 464, ../../stylesheets/partials/_modules.scss */
.pages {
  text-align: left;
  background: url(../img/users/tim-cover.jpg) no-repeat top center;
  -webkit-background-size: 2560px auto;
  -moz-background-size: 2560px auto;
  -o-background-size: 2560px auto;
  background-size: 2560px auto;
  color: #777777;
  padding: 200px 0 0 0;
}
@media only screen and (max-width: 767px) {
  /* line 464, ../../stylesheets/partials/_modules.scss */
  .pages {
    padding-top: 100px;
  }
}
/* line 475, ../../stylesheets/partials/_modules.scss */
.pages h1, .pages h2 {
  font-weight: 100;
  margin: 1.5em 0;
  line-height: 1em;
}
/* line 483, ../../stylesheets/partials/_modules.scss */
.pages h1 {
  font-size: 4em;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 483, ../../stylesheets/partials/_modules.scss */
  .pages h1 {
    font-size: 2em;
  }
}
/* line 492, ../../stylesheets/partials/_modules.scss */
.pages h2 {
  font-size: 3em;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  /* line 492, ../../stylesheets/partials/_modules.scss */
  .pages h2 {
    font-size: 1.5em;
  }
}
/* line 501, ../../stylesheets/partials/_modules.scss */
.pages dt {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 5px;
}
/* line 507, ../../stylesheets/partials/_modules.scss */
.pages dd {
  margin-left: 10px;
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 1em;
}
/* line 514, ../../stylesheets/partials/_modules.scss */
.pages p {
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
}

/* line 522, ../../stylesheets/partials/_modules.scss */
.add-post {
  margin: 10px;
}

/* line 1, ../../stylesheets/partials/_menu.scss */
#menuRight {
  position: absolute;
  width: 260px;
  top: 0;
  z-index: 1;
  padding-top: 38px;
  right: 0px;
}
/* line 9, ../../stylesheets/partials/_menu.scss */
#menuRight a {
  display: block;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: .75em 2em;
}
/* line 15, ../../stylesheets/partials/_menu.scss */
#menuRight a.touch, #menuRight a:focus {
  color: #000;
}
/* line 20, ../../stylesheets/partials/_menu.scss */
#menuRight .sub {
  margin-top: 2em;
}
/* line 23, ../../stylesheets/partials/_menu.scss */
#menuRight .sub a {
  font-size: 0.8em;
  padding: .25em 2.5em;
  opacity: .5;
}
/* line 30, ../../stylesheets/partials/_menu.scss */
#menuRight .social {
  margin: 2em 0 0 2em;
}
/* line 33, ../../stylesheets/partials/_menu.scss */
#menuRight .social a {
  font-size: 2em;
  display: inline-block;
  padding: .1em;
  opacity: .5;
}
/* line 41, ../../stylesheets/partials/_menu.scss */
#menuRight #closeMenu {
  font-size: 1.5em;
  position: absolute;
  top: 20px;
  right: 0px;
  line-height: 0;
  padding: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  /* line 55, ../../stylesheets/partials/_menu.scss */
  #menuRight a {
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  /* line 57, ../../stylesheets/partials/_menu.scss */
  #menuRight a:hover {
    color: #000;
  }
}
@media only screen and (max-width: 767px) {
  /* line 65, ../../stylesheets/partials/_menu.scss */
  #menuRight {
    padding-top: 16px;
  }
  /* line 68, ../../stylesheets/partials/_menu.scss */
  #menuRight a {
    padding: .4em 2em;
  }
  /* line 72, ../../stylesheets/partials/_menu.scss */
  #menuRight .sub {
    margin-top: 1em;
  }
  /* line 75, ../../stylesheets/partials/_menu.scss */
  #menuRight .sub a {
    padding: .1em 2.5em;
  }
  /* line 80, ../../stylesheets/partials/_menu.scss */
  #menuRight .social {
    margin: 1em 0 0 2em;
  }
  /* line 84, ../../stylesheets/partials/_menu.scss */
  #menuRight #closeMenu {
    top: 10px;
    right: 10px;
    padding: 10px;
  }
}
/* line 2, ../../stylesheets/partials/_forms.scss */
.looking-for {
  text-align: center;
  padding: 0;
  margin: 20px 0 0 0;
}
/* line 7, ../../stylesheets/partials/_forms.scss */
.looking-for .select-style {
  font-size: 2em;
  height: 72px;
  line-height: 72px;
  border: 1px solid #fff;
  border-radius: 6px;
  margin: 4px;
  width: 260px;
  display: inline-block;
  overflow: hidden;
}
/* line 18, ../../stylesheets/partials/_forms.scss */
.looking-for .select-style select {
  padding: 0 0 0 0.8em;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  font-weight: 100;
  color: #fff;
}
/* line 28, ../../stylesheets/partials/_forms.scss */
.looking-for .select-style select:focus {
  outline: none;
}
/* line 32, ../../stylesheets/partials/_forms.scss */
.looking-for .select-style select option:not(:first-child) {
  color: #000;
}
@media only screen and (max-width: 767px) {
  /* line 7, ../../stylesheets/partials/_forms.scss */
  .looking-for .select-style {
    font-size: 1.5em;
    height: 55px;
    line-height: 55px;
    display: block;
    margin: 8px auto;
  }
}

/* line 48, ../../stylesheets/partials/_forms.scss */
.info {
  margin: 0;
  padding: 0;
}
/* line 52, ../../stylesheets/partials/_forms.scss */
.info input {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 2em;
  font-weight: 100;
  color: #fff;
  padding: .4em .7em;
  border-radius: 6px;
  margin: 4px;
  width: 7em;
}
/* line 62, ../../stylesheets/partials/_forms.scss */
.info input:focus {
  outline: none;
}
/* line 65, ../../stylesheets/partials/_forms.scss */
.info input::-webkit-input-placeholder {
  color: white;
}
/* line 68, ../../stylesheets/partials/_forms.scss */
.info input:-moz-placeholder {
  color: white;
}
/* line 71, ../../stylesheets/partials/_forms.scss */
.info input::-moz-placeholder {
  color: white;
}
/* line 74, ../../stylesheets/partials/_forms.scss */
.info input:-ms-input-placeholder {
  color: white;
}
/* line 78, ../../stylesheets/partials/_forms.scss */
.info input[type="email"] {
  width: 12em;
}
@media only screen and (max-width: 1199px) {
  /* line 52, ../../stylesheets/partials/_forms.scss */
  .info input {
    display: block;
    width: 50%;
    margin: 8px auto;
  }
  /* line 87, ../../stylesheets/partials/_forms.scss */
  .info input[type="email"] {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 48, ../../stylesheets/partials/_forms.scss */
  .info {
    padding: .5em 0 0 0;
  }
  /* line 96, ../../stylesheets/partials/_forms.scss */
  .info input {
    font-size: 1.5em;
    width: 90%;
    margin: 8px auto;
  }
  /* line 101, ../../stylesheets/partials/_forms.scss */
  .info input[type="email"] {
    width: 90%;
  }
}

/* line 108, ../../stylesheets/partials/_forms.scss */
.photo-editor {
  overflow: hidden;
  position: relative;
}
/* line 113, ../../stylesheets/partials/_forms.scss */
.photo-editor img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  width: 120%;
}
