<div class="middle">
	<div class="container center">
		<div class="box-w-sample">
			<ul class="selected-pillars" ng-include="'partials/sign-up/modules/selected-pillars.html'"></ul>

			<div class="inline large thin p1">
				<i class="fa fa-camera-retro photo-editor"><img src="img/users/tim.jpg" draggable /></i>
			</div>
			<i class="fa fa-chevron-right btn-round" onclick="location.href='#/profile'"></i>

		</div>
		<div ng-include="'partials/sign-up/modules/sample-post.html'"></div>
	</div>
</div>