<div class="middle">
	<div class="container center">
		<div class="box-w-sample">
			<ul class="selected-pillars" ng-include="'partials/sign-up/modules/selected-pillars.html'"></ul>

			<a href="#/photo" class="btn btn-primary btn-lg btn-facebook"><i class="fa fa-facebook fa-lg"></i>Sign Up Privately with Facebook</a><br />
			<span class="small">We never post to your wall</span>
			<div class="or">or</div>
			<form class="info">
				<input type="text" placeholder="First Name" />
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#/photo" class="btn-next"><i class="fa fa-chevron-right animate"></i></a>
			</form>
		</div>
		<div ng-include="'partials/sign-up/modules/sample-post.html'"></div>
	</div>
</div>