<a href="#" id="closeMenu" ng-click="menuToggle()"><i class="fa fa-times"></i></a>
<a href="#">How It Works</a>
<a href="#">Get Started</a>
<a href="#">Sign Up</a>
<a href="#">Log In</a>
<nav class="sub">
	<a href="#">Blog</a>
	<a href="#">FAQ</a>
	<a href="#">About</a>
	<a href="#">Careers</a>
	<a href="#">Contact</a>
	<a href="#">Privacy</a>
	<a href="#">Terms of Use</a>
</nav>
<nav class="social">
	<a href="https://twitter.com/agreatfirstdate" target="_blank" title="A Great! First Date Twitter"><i class="fa fa-twitter-square"></i></a>
	<a href="https://www.facebook.com/makegreatdateshappen" target="_blank" title="A Great! First Date Facebook"><i class="fa fa-facebook-square"></i></a>
</nav>