<div class="box">
	<h1>Pick Your Pillars</h1>
	<p>Pillars are what you do. Pillars are what you value. Pillars are how you connect.</p>
	<p><a href="http://player.vimeo.com/video/53564984?autoplay=1" title="Play A Great! First Date Video" class="btn btn-home btn-lg">Watch Video</a></p>

	<h2>Which 4 are you?</h2>
	<ul class="pillars">
		<li ng-repeat="pillar in pillars" fast-click="on = !on" ng-class="{active: on}"><i class="fa fa-{{pillar.icon}}"></i>{{pillar.name}}</li>
	</ul>

	<form class="looking-for">
		<div class="select-style">
			<select>
				<option>I am a...</option>
				<option>Woman</option>
				<option>Man</option>
			</select>
		</div>
		<div class="select-style">
			<select>
				<option>Looking for a...</option>
				<option>Woman</option>
				<option>Man</option>
			</select>
		</div>
		<a href="#/sign-up" class="btn-next-pillars"><i class="fa fa-chevron-right"></i></a>
	</form>
</div>