<!DOCTYPE html>
<html>
	<head>
		<title>agfd3</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/global.css" />
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<link rel="stylesheet" type="text/css" href="css/home.css" />
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="css/ie-only.css" />
		<![endif]-->
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body class="home use-fastclick">
		<section class="push">
			<div id="gradient"></div>
			<a href="#" id="showMenu"><i class="fa fa-bars"></i></a>
			<div id="logo"><a href="index.html">A Great! First Date</a></div>
			<div class="middle">
				<div class="container">
					
					<h1>Pick Your Pillars</h1>
					<p>Pillars are what you do. Pillars are what you value. Pillars are how you connect.</p>
					<p><a href="http://player.vimeo.com/video/53564984?autoplay=1" title="Play A Great! First Date Video" class="btn btn-home btn-lg">Watch Video</a></p>

					<h2>Which 4 are you?</h2>
					<ul class="pillars">
						<li><i class="fa fa-cutlery"></i>Taste</li>
						<li><i class="fa fa-leaf"></i>Spirit</li>
						<li><i class="fa fa-heart"></i>Fitness</li>
						<li><i class="fa fa-female"></i>Style</li>
						<li><i class="fa fa-music"></i>Music</li>
						<li><i class="fa fa-bullseye"></i>Sport</li>
						<li><i class="fa fa-globe"></i>Adventure</li>
						<li><i class="fa fa-book"></i>Words</li>
						<li><i class="fa fa-smile-o"></i>Giving</li>
						<li><i class="fa fa-film"></i>Screen</li>
						<li><i class="fa fa-home"></i>Family</li>
						<li><i class="fa fa-road"></i>Career</li>
					</ul>

					<form class="looking-for">
						<div class="select-style">
							<select>
								<option>I am a...</option>
								<option>Woman</option>
								<option>Man</option>
							</select>
						</div>
						<div class="select-style">
							<select>
								<option>Looking for a...</option>
								<option>Woman</option>
								<option>Man</option>
							</select>
						</div>
						<a href="#" class="next"><i class="fa fa-chevron-right"></i></a>
					</form>

				</div>
			</div>
		</section>
		<nav id="menuRight">
			<a href="#" id="closeMenu"><i class="fa fa-times"></i></a>
			<a href="#">How It Works</a>
			<a href="#">Get Started</a>
			<a href="#">Sign Up</a>
			<a href="#">Log In</a>
			<nav class="sub">
				<a href="#">Blog</a>
				<a href="#">FAQ</a>
				<a href="#">About</a>
				<a href="#">Careers</a>
				<a href="#">Contact</a>
				<a href="#">Privacy</a>
				<a href="#">Terms of Use</a>
			</nav>
			<nav class="social">
				<a href="https://twitter.com/agreatfirstdate" target="_blank" title="A Great! First Date Twitter"><i class="fa fa-twitter-square"></i></a>
				<a href="https://www.facebook.com/makegreatdateshappen" target="_blank" title="A Great! First Date Facebook"><i class="fa fa-facebook-square"></i></a>
			</nav>
		</nav>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="js/application.js"></script>
	</body>
</html>