<div class="sign-up-box">
	<ul class="selected-pillars">
		<li class="active" ng-repeat="pillar in pillars | filter:'y'"><i class="fa fa-{{pillar.icon}}"></i>{{pillar.name}}</li>
	</ul>

	<a class="btn btn-primary btn-lg btn-facebook"><i class="fa fa-facebook fa-lg"></i>Sign Up Privately with Facebook</a><br />
	<span class="small">We never post to your wall</span>
	<div class="or">or</div>
	<form class="info">
		<input type="text" placeholder="First Name" />
		<input type="email" placeholder="Email" />
		<input type="password" placeholder="Password" />
		<a href="#" class="btn-next"><i class="fa fa-chevron-right animate"></i></a>
	</form>
	</div>
	</div>
	<div class="sample">
		<p><img src="img/profile-small-sample-1.jpg" /><i class="fa fa-heart"></i></p>
		<p class="quote">"Had an awesome run on the Mesa Trail today!"</p>
		<p class="what">What's this?</p>
	</div>
</div>