#btn-menu {
	display: block;
	position: absolute;
	right: 20px; 
	top: 20px;
	padding: 30px;
	line-height: 0;
	color: #fff;
	font-size: 1.5em;
	text-shadow: $base-text-shadow;
	&.active, &:focus {
		opacity: .5;
		color: #000;
	}

	@media only screen and (min-width: $desktop-min) {
  	@include transition;
	  &:hover {
			opacity: .5;
			color: #000;
		}
	}

	@media only screen and (max-width: $mobile-max) {
		right: 10px; 
		top: 10px;
		padding: 10px;
	}
}

.btn-round {
	border: 1px solid $base-border-color;
	border-radius: 50%;
	display: block;
	font-size: 2em;
	height: 2.5em;
	width: 2.5em;
	text-align: center;
	line-height: 2.5em;
	@include transition;
	margin: 0 auto;
}

.btn-home {
	color: $base-font-color;
	background-color: transparent;
	border-color: $base-border-color;
	font-weight: $light;
	&.touch, &:focus {
		color: $base-font-color;
		background-color: $base-button-background-color-hover;
		border-color: $base-border-color;
		outline: 0;
	}
	&:hover {
		color: $base-font-color;
	}

	@media only screen and (min-width: $desktop-min) {
		@include transition;
		&:hover {
			background-color: $base-button-background-color-hover;
			border-color: $base-border-color;
		}		
	}
}

.pillars {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		padding: 10px;
		font-weight: 400;
		font-size: 0.8em;
		text-align: center;
		line-height: 2em;
		cursor: pointer;
		&.active i, &.active:hover i {
			background-color: $bootstrap-green;
			border-color: $bootstrap-green;
		}

		@media only screen and (min-width: $desktop-min) {
			&:hover i {
				background-color: $base-button-background-color-hover;
			}
		}

		i {
			border: 1px solid $base-border-color;
			border-radius: 50%;
			display: block;
			font-size: 2em;
			height: 64px;
			width: 64px;
			text-align: center;
			line-height: 64px;
			@include transition;
		}
	}
}

.selected-pillars {
	@extend .pillars;
	margin-bottom: 50px;

	li {
		font-size: 1.4em;
		font-weight: $light;
		cursor: default;

		i {
			font-size: 2em;
			height: 2.5em;
			width: 2.5em;
			line-height: 2.5em;
		}
	}

	@media only screen and (max-width: $mobile-max) {
		margin-bottom: 30px;

		li {
			font-size: 1em;
		}
	}
}

.btn-facebook {
	@extend .animate;
  background-color: $facebook-color !important;
  border-color: $facebook-color !important;
  font-weight: $thin;
  font-size: 2.5em;
	padding: .6em 1em;
	border-radius: .15em;
	&:hover {
		opacity: 0.9;
	}

	i {
		margin-right: .5em;
	}

	@media only screen and (max-width: $mobile-max) {
		font-weight: $regular;
		font-size: .9em;
		padding: 1em .5em;
		border-radius: 4px;
		width: 260px;
	}
}

.btn-file {
    position: relative;
    overflow: hidden;

    input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 999px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    background: red;
	    cursor: inherit;
	    display: block;
	}
}

.btn-next {
	display: inline-block;
	margin: 4px;
	&.touch i, &:focus i {
		background-color: $base-button-background-color-hover;
	}

	i {
		height: 72px;
		width: 72px;
		border: 1px solid #fff;
		line-height: 72px;
		text-align: center;
		border-radius: 50%;
		font-size: 2em;
		color: #fff;
		display: inline-block;
		@include transition;
	}

	@media only screen and (max-width: $desktop-med) {
		display: block;
	}

	@media only screen and (min-width: $desktop-min) {
		&:hover i {
			background-color: $base-button-background-color-hover;
		}
	}

	@media only screen and (max-width: $mobile-max) {
		margin: 8px;
	}
}

.btn-next-pillars {
	@extend .btn-next;
	vertical-align: top;
}