#showMenu {
	display: block;
	position: absolute;
	right: 20px; 
	top: 20px;
	padding: 30px;
	line-height: 0;
	color: #fff;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	&.active, &:focus {
		opacity: .5;
		color: #000;
	}

	@media only screen and (min-width: $desktop-min) {
  	@include transition-property(all);
	  @include transition-duration(200ms);
	  @include transition-timing-function(ease-in-out);
	  &:hover {
			opacity: .5;
			color: #000;
		}
	}

	@media only screen and (max-width: $mobile-max) {
		right: 10px; 
		top: 10px;
		padding: 10px;
	}
}