html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, html { 
	font-size: $base-font-size; 
	height: 100%;
}

body {
	font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font-family;
	font-weight: $light;
}

a {
	text-decoration: none;
	outline: 0;
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: 0;
	}
}

.animate {
	@include transition-property(all);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in-out);
}

.small {
	font-size: 0.9em;
	font-weight: 300;

	@media only screen and (max-width: $mobile-max) {
		font-size: 0.7em;
		font-weight: 300;
	}
}