.p20 {
	margin-bottom: 20px;
}

header {
	position: relative;
	z-index: 2;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.container {
	position: relative;
}

#push {
	z-index: 2;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	@include transition(all, 0.3s, ease);

	/* Removes flicker in certain cases */
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

	&.active {
		@include translate3d(-$menu-width, 0, 0);
		/* IE 8 and 9  */ left: -$menu-width #{$ie-8-9};
	}
}

.ng-view {
	display: table;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	background: url("../img/background.jpg") no-repeat center center; 
  @include background-size(cover);
}

.box {
	padding: 7em 0;

	@media only screen and (max-width: $mobile-max) {
		padding: 4em 0;
	}
}

.box-w-sample {
	padding: 8em 0 240px 0;

	@media only screen and (max-width: $mobile-max) {
		padding: 5em 0 240px 0;
	}
}

.inline {
	display: inline-block;
}

.profile-box {
	background-color: #fff;
	height: 100%;
}

.profile-information {
	margin-top: -$base-avatar-size/2;
	margin-bottom: 1em;

	@media only screen and (max-width: $tablet-max) {
		margin-top: -$tablet-avatar-size/2;
	}

	@media only screen and (max-width: $mobile-max) {
		margin-top: -$mobile-avatar-size/2;
	}
}
.profile-tabs {
	
}

.tab-view {
	background-color: $tabs-background-color;
	color: $base-profile-font-color;
	padding: 1em 0;
	@media only screen and (max-width: $mobile-max) {
		padding: 0;
	}
}