#logo {
	position: absolute;
	left: 50px;
	top: 50px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 299px;
	height: 48px;

	@media only screen and (max-width: $mobile-max) {
		left: 20px;
		top: 20px;
		width: 39px;
		height: 45px;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;
		background: url("../img/agreatfirstdate-logo@2x.png") no-repeat center center;
		/* IE 8 and below */ background: url("../img/agreatfirstdate-logo.png") no-repeat center center\9;
		background-size: 298px 47px;

		@media only screen and (max-width: $mobile-max) {
			background: url("../img/heart-logo@2x.png") no-repeat;
			background-size: 39px 45px;
		}
	}
}

#gradient {
	@include background-image(linear-gradient($gradient-start, $gradient-end));
	width: 100%;
	height: $base-gradient-height;
	position: absolute;

	@media only screen and (max-width: $mobile-max) {
		height: $mobile-gradient-height;
	}
}

.sample-post {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 90%;
	margin-left: -45%;
	text-align: center;
	img {
		border-radius: 50%;
		margin: 0 4px;
		width: 64px;
		height: 64px;
	}
	i {
		border: 1px solid #fff;
		border-radius: 50%;
		display: inline-block;
		font-size: 1.5em;
		height: 64px;
		width: 64px;
		text-align: center;
		line-height: 64px;
		vertical-align: middle;
		margin: 0 4px;
	}
	.text {
		font-size: 1.1em;
	}
	.what {
		font-size: 0.8em;
		cursor: pointer;
	}
}

.or {
	overflow: hidden;
	text-align: center;
	font-size: 2.2em;
	font-weight: 100;
	margin: .5em auto;
	width: 50%;
	&:before, &:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
	}
	&:before {
    right: 0.5em;
    margin-left: -50%;
	}
	&:after {
    left: 0.5em;
    margin-right: -50%;
	}

	@media only screen and (max-width: $mobile-max) {
		font-size: 1.2em;
		font-weight: 300;
	}
}

.cover-image-box {
	width: 100%;
	height: $base-cover-image-height;
	overflow: hidden;
	@media only screen and (max-width: $tablet-max) {
		height: $tablet-cover-image-height;
	}
	@media only screen and (max-width: $mobile-max) {
		height: $mobile-cover-image-height;
	}

	.cover-image  {
		width: 100%;
		height: 100%;
		background-position: top left;
		background-repeat:no-repeat;
		background-size: cover;
	}

	.bottom-gradient {
		@include background-image(linear-gradient($bottom-gradient-start, $bottom-gradient-end));
		width: 100%;
		height: $base-gradient-height;
		margin-top: -$base-gradient-height;
		@media only screen and (max-width: $mobile-max) {
			height: $mobile-gradient-height;
			margin-top: -$mobile-gradient-height;
		}
	}
}

.avatar {
	position: relative;
	width: $base-avatar-size;
	height: $base-avatar-size;
	overflow: hidden;
	display: block;
	margin: 0 0 1em auto;
	@include border-radius(50%);

	img {
		width:100%;
	}

	@media only screen and (max-width: $tablet-max) {
		width: $tablet-avatar-size;
		height: $tablet-avatar-size;
	}

	@media only screen and (max-width: $mobile-max) {
		width: $mobile-avatar-size;
		height: $mobile-avatar-size;
	}
}

.my-name {
	font-size: $profile-name-font-size;
	font-weight: $thin;
	line-height: 1em;

	@media only screen and (max-width: $tablet-max) {
		font-size: $profile-tablet-name-font-size;
	}

	@media only screen and (max-width: $mobile-max) {
		font-size: $profile-mobile-name-font-size;
		font-weight: $light;
		margin-top: 4px;
		margin-bottom: -4px;
	}
}

.my-location,.my-points,.my-connected-networks {
	font-weight: $light;
	display: inline-block;
	margin: 0 .5em;
	line-height: $profile-detail-line-height;

	@media only screen and (max-width: $tablet-max) {
		line-height: $profile-tablet-detail-line-height;
	}

	@media only screen and (max-width: $mobile-max) {
		line-height: $profile-mobile-detail-line-height;
	}
}

.my-location, .my-points {
	font-size: $profile-detail-font-size;

	@media only screen and (max-width: $tablet-max) {
		font-size: $profile-tablet-detail-font-size;
	}

	@media only screen and (max-width: $mobile-max) {
		font-size: $profile-mobile-detail-font-size;
		font-weight: $profile-mobile-detail-font-weight;
	}
}

.my-connected-networks {

	@media only screen and (max-width: $mobile-max) {
		display: none; //HIDE FOR NOW UNTIL WE FIGURE OUT A GOOD LAYOUT
		color: $base-profile-border-color;
		margin: 9px 0 0 2px;
	}

	i {	
		margin: 0 2px;
		font-size: 1.5em;

		@media only screen and (max-width: $mobile-max) {
			font-size: 1em;
		}
	}
}

.my-pillars {
	ul {
		margin: 1em 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			padding: .5em;

			i {
				position: relative;

				span {
					position: absolute;
					font-size: .5em;
					display: block;
					line-height: 1em;
					background-color: $base-profile-background-color;
					bottom: 5px;
					right: 5px;
					padding: 1px;
					font-weight: $thin;
				}
			}
		}

		@media only screen and (max-width: $mobile-max) {
			margin: .5em 0 .8em 0;

			li {
				padding: 1px;

				i {
					font-size: 17px;

					span {
						bottom: 2px;
						right: 1px;
					}
				}
			}
		}
	}
}

.about-me,.about-you {
	color: $base-profile-font-color;
	line-height: 1.5em;
	font-weight: $light;
	margin: .5em 0;
	overflow:hidden;
	padding-left:.5em;

	textarea {
		width: 100%;
		margin-bottom: 3px;
	}

	@media only screen and (max-width: $mobile-max) {
		font-size: .8em;
		height: 1.4em;
		&:before {
			content:"\f196";
			float: right;
			font-family: FontAwesome;
			line-height: 1.5em;
		}

		&.more {
			height: auto;
			&:before {
				content:"";
			}
		}
	}
}

.tab-view p {
	padding: 3em 0;

	@media only screen and (max-width: $mobile-max) {
		font-size: .9em;
		padding: 1em 0;
	}
}

.post {
	background-color: $post-background-color;
	margin: $post-margin 0;
	padding: $post-padding;
	@include box-shadow($post-shadow);
	font-size: $post-font-size;
	font-weight: $regular;
}

.post-avatar {
	height: $post-avatar-size;
	width: $post-avatar-size;
	@include border-radius(50%);
	margin: $post-avatar-margin;
	float: left;
}

.post-title {
	font-weight: $bold;
	display: block;
	margin-top: $post-title-margin-top;
}

.post-date {
	display: block;
	color: $post-date-color;
	line-height: 1em;
}

.post-pillar {
	@extend .btn-profile;
	margin: $post-avatar-margin;
	font-size: 1.5em;
}

.feed-post-pillar {
	@extend .post-pillar;
	float: right;
}

.activity-post-pillar {
	@extend .post-pillar;
	float: left;
}

.activity-post-network {
	float: right;
	color: $post-social-icon-color;
	font-size: 1.5em;
}

.post-text {
	display: block;
	clear: both;
	margin: $post-padding 0;
	padding: $post-padding;
}

.post-image {
	width: 100%;
}

.photo-post {
	@extend .post;
	padding: 0;
	position: relative;
}

.photo-post-pillar {
	@extend .post-pillar;
	position: absolute;
	top: 20px;
	left: 20px;
	color: $photo-post-color;
	border-color: $photo-post-color;
	margin: 0;
}

.photo-post-network {
	position: absolute;
	right: 10px;
	top: 10px;
	color: $photo-post-color;
	font-size: 1.5em;
}

.photo-post-gradient {
	@extend #gradient;
	height: $mobile-gradient-height;
}

.settings-box {
	@extend .post;
	padding: $settings-box-padding;

	h3 {
		margin: .5em 0;
	}

	input {
		font-weight: $light;
	}

	form {
		margin: 2em;

		@media only screen and (max-width: $mobile-max) {
			margin: 2em 0;
		}
	}

	.to {
		font-weight: $regular;
		font-size: 1em;
	}
}

.settings-icon {
	@extend .btn-profile;
	font-size: 1.5em;
	float: left;
	margin-right: 10px;
}

.settings-pillars {
	@extend .pillars;
	text-align: center;

	li {
		font-size: .9em;
		i {
			border-color: #ccc;
		}
		&.active i {
			color: #fff;
		}
	}
}

.white-box {
	background-color: #fff;
	min-height: 100%;
	padding-bottom: 7em;
	
	@media only screen and (max-width: $mobile-max) {
		padding-bottom: 4em;
	}
}

.pages {
  text-align: left;
  background: url(../img/users/tim-cover-image.jpg) no-repeat top center; 
  @include background-size(2560px auto);
  color: $pages-font-color;
  padding: 200px 0 0 0;
  
  @media only screen and (max-width: $mobile-max) {
		padding-top: 100px;
	}
  
  h1, h2 {
    font-weight: $thin;
    margin: 1.5em 0;
    line-height: 1em;

    
  }

  h1 {
    font-size: 4em;
    text-align: center;

    @media only screen and (max-width: $mobile-max) {
			font-size: 2em;
		}
  }

  h2 {
    font-size: 3em;
    text-align: left;

    @media only screen and (max-width: $mobile-max) {
			font-size: 1.5em;
		}
  }

  dt {
    font-weight: $regular;
    font-size: 1.1em;
    margin-bottom: 5px;
  }

  dd {
    margin-left: 10px;
    font-weight: $light;
    font-size: 0.9em;
    margin-bottom: 1em;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
  }

}