.home {

	.middle {
		padding: 8em 0 220px 0;
	}

	ul.pillars {
			margin-bottom: 50px;

		li {
			display: none;
			font-size: 1.1em;
			font-weight: 300;
			cursor: default;

			i {
				font-size: 2em;
				height: 96px;
				width: 96px;
				line-height: 96px;
			}
		}
	}

	.btn-facebook {
	  background-color: #4c66a4 !important;
	  border-color: #4c66a4 !important;
	  font-weight: 100;
	  font-size: 2.5em;
		padding: .6em 1em;
		border-radius: .15em;
		transition: opacity 200ms ease-in-out;
		-moz-transition: opacity 200ms ease-in-out;
		-webkit-transition: opacity 200ms ease-in-out;
		-o-transition: opacity 200ms ease-in-out;
		-ms-transition: opacity 200ms ease-in-out;
		&:hover {
			opacity: 0.9;
		}

		i {
			margin-right: .5em;
		}
	}

	.or {
		overflow: hidden;
		text-align: center;
		font-size: 2.2em;
		font-weight: 100;
		margin: .5em auto;
		width: 50%;
		&:before, &:after {
	    background-color: #fff;
	    content: "";
	    display: inline-block;
	    height: 1px;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
		}
		&:before {
	    right: 0.5em;
	    margin-left: -50%;
		}
		&:after {
	    left: 0.5em;
	    margin-right: -50%;
		}
	}

	.info {
		margin: 0;
		padding: 0;

		input {
			background-color: transparent;
			border: 1px solid #fff;
			font-size: 2em;
			font-weight: 100;
			color: #fff;
			padding: .4em .7em;
			border-radius: 6px;
			margin: 4px;
			width: 7em;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
	   		color: rgba(255,255,255,1);
			}
			&:-moz-placeholder {
			   color: rgba(255,255,255,1);
			}
			&::-moz-placeholder {
			   color: rgba(255,255,255,1);
			}
			&:-ms-input-placeholder {  
			   color: rgba(255,255,255,1);
			}

			&[type="email"] {
				width: 12em;
			}
		}

		.next {
			display: inline-block;
			margin: 4px;
			&.touch i, &:focus i {
				background-color: rgba(255,255,255,.2);
			}

			i {
				height: 72px;
				width: 72px;
				border: 1px solid #fff;
				line-height: 72px;
				text-align: center;
				border-radius: 50%;
				font-size: 2em;
				color: #fff;
				display: inline-block;
			}
		}
	}

	.sample {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 90%;
		margin-left: -45%;
		text-align: center;
		img {
			border-radius: 50%;
			margin: 0 4px;
		}
		i {
			border: 1px solid #fff;
			border-radius: 50%;
			display: inline-block;
			font-size: 1.5em;
			height: 64px;
			width: 64px;
			text-align: center;
			line-height: 64px;
			vertical-align: middle;
			margin: 0 4px;
		}
		.quote {
			font-size: 1.1em;
		}
		.what {
			font-size: 0.8em;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 1199px) {

	.home {

		.info {

			input {
				display: block;
				width: 50%;
				margin: 8px auto;

				&[type="email"] {
					width: 50%;
				}
		 	}

		 	.next {
		 		display: block;
		 	}
		}
	}
}

@media only screen and (min-width: 768px) {

	.home {
		
		.info {

			.next {
				&:hover i {
					background-color: rgba(255,255,255,.2);
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {

	.home {

		.middle {
			padding: 5em 0 220px 0;
		}

		.btn-facebook {
			font-weight: 400;
			font-size: .9em;
			padding: 1em .5em;
			border-radius: 4px;
			width: 260px;
		}

		ul.pillars {
			margin-bottom: 30px;

			li {
				font-size: 0.8em;

				i {
					height: 76px;
					width: 76px;
					line-height: 76px;
				}
			}
		}

		.or {
			font-size: 1.2em;
			font-weight: 300;
		}

		.info {
			padding: .5em 0 0 0;

			input {
				font-size: 1.5em;
				width: 90%;
				margin: 8px auto;

				&[type="email"] {
					width: 90%;
				}
		 	}

		 	.next {
		 		margin: 8px;
		 	}
		}
	}
}