<div class="box pages">
	<div class="white-box">
		<div class="container">
			<h1>Blog</h1>
			<h2>When Two is Better Than Plus One</h2>
			<p>DEC 03 2013 - Guys, I'm going to let you in on a little secret.  A great date starts with a plan (I've mentioned this before). One well thought out date spot is good.  Two well thought out date spots more than twice as good.  Three, well, then you are great date.</p>
			<p>On Saturday night I took The Girl out to dinner.  Admittedly, it's not the most creative date out there, but when done thoughtfully, it's always a winner.  I chose Humboldt Farm Fish Wine.  I'd heard good things, I'd done my research and I made reservations.  We arrived about an early before our reservations so I suggested we wonder down the street to Parallel 17 for a quick drink and appetizer. I lead The Girl to the bar because nothing makes me happier than sitting next to her when we are on a date, something which is not always possible at a restaurant.</p>
			<p>We asked for recommendations for drinks from the bartender, ordered a few, a Manhattan for me, and a champagne cocktail with a hibiscus flower for her.  We each tasted the other's drink and then decided on an appetizer.  We left our phones in the car, enjoyed our drinks and settled up.  On the way to Humboldt, I held her hand, opened the doors for her, and generally enjoyed just how beautiful she is.</p>
			<p>At Humboldt, we were seated across from each other.  I know she likes to look out, and I like to look at her so I let her take the wall side, and I faced her.  We started with oysters.  We ordered a few glasses of wine.  She had the tuna, and I had the halibut.  The service was impeccable, if not a little too affectionate for my tastes, and the atmosphere was a huge improvement over the restaurant that had been there before.</p>
			<p>After dinner we walked back to the car, and I opened her door as I do on every date. We drove to The Source.</p>
			<p>We wondered around, bought some fancy local chocolates and then called it an evening.  In total, the date was probably three hours. With three venues though, it seemed much longer.  I had plenty of chances to be chivalrous, plenty of chances to walk and talk, and plenty of time to enjoy how great it is to have found someone like her.</p>
			<p>That, my friends, is what great dates are all about.</p>
			<p>Yours,<br />Rory</p>

			<h2>The Race to 1000</h2>
			<p>NOV 18 2013 - I send a personal e-mail to everyone who signs up for our site.  I do this for two reasons.  First, I want to sincerely thank you for signing up.  It means so much to me that you'd spend your time, energy, and even money on my little project.  Second, I want to provide the best possible dating site experience for all of you, and so much of that is down to hearing from you what matters.</p>
			<p>The resounding answer to that question, you ask?  More members!</p>
			<p>We currently have 333 people in the Denver area (we're based in Denver, and we only serve Denver) signed up for the site.  That's impressive growth (have you checked out who's new lately?) but it's not nearly enough.  My guess is we'll need at least 1000 people to really get this thing going.  I think the best way to get more dates is through personal referrals, so here's what I want to do!</p>
			<p>Referral Program:</p>
			<p>Ask your friends to sign up. For each friend who signs up, I'll give you $5 off a monthly membership (up to 4).  For each of those friends that sign up because of you, I'll give them half off their membership.  Here's how it works:</p>
			<p>Have them sign-up<br />E-mail me with their names and e-mail addresses<br />I'll send you and them a discount code for the right amount</p>
			<p>Do this with four friends and your membership is free, FOR LIFE!</p>
			<p>Also, I want to pay for your date.</p>
			<p>If you meet someone through the site, let me know and I'll pay for your date up to $50!  You both have to be signed up for the site, have found each other through the site, and I'll give you a $50 gift card to go out on a date.  All I'll ask in return is that you let me know how it went!</p>
			<p>How's that all sound?</p>
			<p>Yours,<br />Rory</p>


			<h2>She Hates Dating Sites</h2>
			<p>OCT 28 2013 - I'm a total entrepreneur-nerd lover. When Rory told me he was starting a business, my heart throbbed. When he followed it up with "a dating site" [enter elevator music here] my heart throb turned into a heart-thud. A dating site - YUCK. 
				 
				I hate dating sites. Dating sites are places where people who can't get dates in real life hide behind a false image and reek in desperation to find love while they sit on their couch and check their [dating site] email. Why in the world people would pay money to meet someone like that was beyond me. 
				 
				I knew that when I met the person I wanted to say "forever" to, it would be out doing the things I love to do! It wouldn't be sitting at home on my computer looking for Mr. Right. Life shouldn't be on hold while we search for "the one". We should be out growing, changing, and becoming 3-dimensional people with a story, not a profile. 
				 
				And that is why I fell in love with A Great! First Date. 
				 
				Because, it is designed for awesome people who are out living their lives!! Its designed for people who evolve, who grow, who do interesting things. They're not looking for happiness, they are happy. They're looking to share happiness.
				 
				A Great! First Date isn't for people sitting at home on a Friday night sulking in their desperation for love and seeking out "The One". Its for people who like to have fun and who believe love is something that finds you when you're doing what you love to do. Its designed for people who don't want to say "we met online". 
				 
				A Great! First Date is for people who want to say, "we met because we both love working out", or "we met because we both hated the same art exhibit", or "we both went to the same restaurant three times that week". 
				 
				But hey, its really not what you say... 
				 
				Now go Do!  
				 
				-M-</p>
				
				<h2>My Turn</h2>
				<p>OCT 26 2013 - Hello there all you fabulously single and attractive people! 
					 
					Dropping in to meet you myself. It seems wildly unfair for Rory to have all the fun, as I'm the girl in date two - yup, WINNER! Ugh, but seriously. What girl likes knowing she's at the same date spot her man was at the previous week with some other girl he thought was pretty - NOT ONE (No offense to girl in date one, I'm sure you are lovely). 
					 
					And so alas, he has to complete the tireless peril of creating a dating site that will attest to the magnificent wonder of his first date with the second girl, forever making him a changed man, now charged with the task of sharing the enlightenment he has experienced with the whole world, so that they too may find love - only so she will forgive him, marry him and make babies with him. And THAT's the TRUTH! Don't listen to whatever else he told you. 
					 
					Well it worked, here we are, madly in love - baby and all! 
					 
					Thought I'd set the record straight. This seems fun. Perhaps I'll drop in more often. 
					 
					Happy Saturday friends. 
					 
					 - M - </p>
					
					<h2>Great Date Spot: La Loma</h2>
					<p>OCT 14 2013 - The thing I love about dating is the shared moments of intimacy.  They are always the little things.  It's two people sharing their own private moments amongst a whole bunch of other people doing the same.  These moments, this intimacy, doesn't change whether it's date number one with someone you barely know (we can help with that), or with the love of your life.  I found myself with the latter on Saturday, and we were looking for a place for a fairly casual last minute date.  
						We found La Loma.

						Situated in a unique neighborhood, and overlooking downtown Denver, it's a great date spot.  In the summers the patio is open, but on Saturday it was much too cold for that.  We found a spot in the bar next to the fireplace.  Though it was very busy, we were immediately served waters and chips and salsa, which were both delicious.  Our waiter came by a bit later, and we ordered guacamole, rellenos and the mexico street tacos(their tortillas are made fresh in house all night long).  It's not a night out in my book without a margarita.  I went with the medium and my love went with the small.  If you're feeling adventurous you could go with the 64oz version, just make sure you aren't driving home after one of those!
						We sat, and we talked for a few hours.  We shared the guacamole.  We exchanged our dinner plates halfway through.  We people watched.  We even made friends with the table next to us.  It was a fantastic date, in a wonderful spot.  I highly recommend it! 
						Yours,
						Rory</p>
						 
						
						<h2>Four Great Fall Date Ideas</h2>

						 
						<p>SEP 04 2013 - Fall is my favorite season of the year. The leaves are turning, the air gets crisper and everyone is looking for someone to cuddle up to. Here are some great date ideas that don’t involve football smack talk (a surefire way to ruin a relationship) or hibernating just yet. It’s time to get outside before everyone is hiding under parkas. 
							 
							Pick Fruit
							 
							With plenty of local farms and orchards, Colorado is ripe for the picking. Berry Patch Farms in Brighton has cherries, strawberries, raspberries and a number of veggies fresh from the earth. If you’re ambitious, turn your produce finds into a date night in and cook each other something delicious (and don’t forget homemade berry pie!). If it doesn’t work out? There’s always take-out and a good laugh.
							 
							Go to a Haunted House or Corn Maze
							 
							Halloween is one of the country’s most beloved holidays for obvious reasons. For one night, you get to be anyone you want. The Denver Botanic Gardens’ Field of the Undead runs every Friday and Saturday in October and is a great way to get some chills, thrills and then relax on a romantic hayride or marvel at the flora and fauna. Any excuse to hold hands, right?
							 
							Attend a Festival 
							 
							There are so many fall events centered around suds and grub, how could you not be in heaven? With Oktoberfest festivities in Denver, Beaver Creek, Steamboat, Breckenridge, and Vail to choose from, The Great American Beerfest is the mack daddy of them all if you can get tickets. It’s a great time to try a new seasonal microbrew or get a sampler platter to share with that special someone. We aren’t called the “Napa of Beers” for nothing.
							 
							See the Leaves Change on a Scenic Drive
							 
							With the signature Aspen trees turning vibrant shades of gold, there are plenty of scenic drives throughout the Front Range to marvel at nature’s beauty. The Maroon Bells are possibly the most photographed mountains in all of North America which offer an amazing view of Maroon Lake reflecting the trees off the purple and white peaks. Other iconic byways can be found on the Visit Colorado tourism website.  
							 
							Enjoy,
							 
							Lauren</p>
							
							<h2>Why You're Failing at Online Dating</h2>

							<p>AUG 29 2013 -Online Dating is a game. There are winners and losers. It’s stressful, exhausting and a full time commitment if you want to do it right. But here are some keys to help you get the most out of your profile to meet that one special someone.
								 
								Photos- My rules for pictures are simple: be real. If you have headshots, it’s okay to throw one or two in there, but there have to be everyday pics too, yourself and in a group (show how social you are!) Face and full body. No hiding behind hats, dark shadows, top down skinny angles (we know all the tricks). And for the love of all that is holy, no bathroom selfies. Seriously.  A Great First Date makes it easier to judge people’s pictures because they’re not just static glamour shots. Like Facebook, you can continually update specific interest timelines called pillars so it’s always current with what you’re doing and places you’ve been. Plenty of things to comment on and conversation starters. 
								 
								About Me - Oh the “About Me” Section. Nothing causes more anxiety than having to writing about yourself, whether it be on a dating profile or a cover letter. Highlight yourself in the best possible light with your most awesome and amazing attributes. All your cool, quirky hobbies. The more random the better because they invite questions. I am a certified viking. Like a resume, choose action verbs about your interests. Play tennis? Challenge someone to a match. Don’t sound negative, defeated or like you’re just an “average guy.” It’s a delicate balance between a soft sell and positioning (think personal branding, not advertising). Put the time into doing it right. Ask your best friend of the opposite sex how they’d describe you - you may be surprised by what they say and how incredible you really do sound.
								 
								Creepy Messages and Bad Experiences Put People Off - We’ve all gotten more than our fair share of WTF messages asking if we’re down for sex, a threesome, a strapon (maybe that’s just me?), what have you. The messages that make you vow to write off online dating forever. My advice: laugh it off and take it with a grain of salt. There are plenty of weirdos in real life too, online it’s just that much easier to hide behind a screen name or anonymous profile (which we don’t allow, you use your real name for authenticity). Plus, it’ll make a funny story for someone better. 
								 
								Cheers, 
								 
								Lauren</p>
								
								<h2>Great Denver Date Spot: The Mayan</h2>
								<p>JUL 22 2013 - I took my fiancee out to the Mayan a few weeks ago.  I absolutely love that place.  It's a momument to doing more than the minimum-- to creating an experience that is more than the some of it's parts.  The theater itself is full of ornate architectural features, it sits in a neighborhood that has as much character as you'll find in Denver, and the General Manager comes up an introduces each movie before it starts.  They have a full bar, a selection of seriously good chocolate bars, and a seating area outside the theater where you can talk before or after the movie.  The movies they show almost always lead to good conversation after.  While I don't recommend it as a first date spot (coffee or a single drink will do just fine for that), I think it's hard to find a much better second (or 17th) date spot in Denver.  
									So grab your girl, grab her hand and a glass of wine and get over to the Mayan.  It's a great date, almost guaranteed.
									Yours,
									Rory</p>
									
									<h2>One Great Thing Great Women Must do for Great Men</h2>
									<p>JUL 09 2013 - I happen to like soccer a lot.  I played at the highest level I could, and I still play as often as I can now.  I've made a ton of friends through the sport, and every so often we get together to play in tournaments.  And yes, drink a healthy amount of beer.  It's a big part of who I am, and it's something I'm passionate about.  Unfortunately, it has caused friction in my relationships.
										First off, when I go on one of these trips I'm spending a decent amount of time and money.  It usually requires taking a day or two off work, flying halfway across the country and then staying in a hotel.  Tournaments pack a ton of games into a weekend, so there is usually early mornings and late nights.  As I've gotten older that number of games takes a real toll on my body. I generally come back from these things absolutely exhausted.  When I'm that exhausted I'm not fully thoughtful, fully energetic or fully engaged.  
										Ladies, I know what you are thinking.  Too bad you say!  I had my weekend off, now it's time to focus on you and us again. It's time to take out the trash, and clean the bathroom.  It's time to cuddle on the couch and watch a chick flick.  You've done your good deed by supporting my hobbies, and now you want me back.  Let me tell you ladies, there is nothing more frustrating than this.  I want to be with you, but I don't want to feel like my hobbies require me to owe you something. 
										The one great thing a great woman can do for a great man is to give him an extra day!
										If he comes home late Sunday night, then don't plan anything until Tuesday. Just pretend that's the day he is actually getting home.  Give him a little time to catch-up on his sleep and enjoy being home.  A great man will know the gift you've given him.  He'll happily make it up to over the course of the week and probably the next weekend.  If you don't give him this time, he'll feel guilty about the next trip and maybe he won't go.  If he feels like he can't pursue his hobbies without having to bare some cost for it, you'll start playing a dangerous game. Part of what makes great relationships is people who can pursue their passions so that they grow as people.  
										It's that simple really, just give him an extra day.  It will go a long, long way to keeping the two of you happy, interesting and your relationship great!  The lady I am with now knows this, and it only makes me love her more.  
										And of course, this is the same thing great men must do for great women.  
										Yours,
										Rory</p>
										
										<h2>Guys: 8 Things You Must Do On a Great First Date</h2>
										<p>AUG 23 2012 - We all want great dates. Guys, I put most of the responsibility on you. Girls, I also put most of the responsibility on you. A great date takes a little bit of responsibility from both of you. More on that later. For now, guys, here you go:
											1. Have a Plan
											Pick two to three activities. They can be simple. For example, on a first date you can meet a Starbucks on the 16th Street Mall. Then you can plan to walk to the mall, and end up sitting and talking at Confluence park. Bonus points if you end the walk right as the Rockies are finishing up so you can both see the fireworks. Plans can be flexible, but on a great date the last thing you want to be thinking about is what to do next.
											2. Make the Call
											Don’t make plans to meet over text message. It’s fine to propose the date over text, but tell her you’ll call her to arrange all the details. Set a specific time for that call. If she doesn’t answer her phone, leave a message telling her to call you back. If she can’t handle that much responsibility, you aren’t going to get a great date out of it. Have high expectations and high standards. It’s important in life and on dates.
											3. Open Doors
											If you pick her up, get out of your car and open the door for her. Yeah, sometimes it’s a little awkward. Trust me though, it will always be noticed and it will always be appreciated. When you get to wherever you are going, open all doors for her. Don’t make a big show of it, just make sure you see what’s coming and you make the effort. A little effort goes a long way.
											4. Touch Her
											Connection comes more from touch than from conversation. Early on in the date, nudge her shoulder when you’re giving her a hard time. When you are opening the door for her, gently touch her lower back as she passes. Don’t let any of your touches linger, just be there and then be gone. As she starts to feel more comfortable, she’ll get closer to you and provide you plenty more opportunities to keep touching her.
											5. Don’t!
											Don’t talk about religion, politics or exes on your early dates. Before you have a comfortable feeling about someone these topics can only inevitably lead to conflicts that might make the date less than great. If she brings them up, joke with her about it. Tell her she’s going to have make date number two if she wants to learn those things about you.
											6. Enjoy the Awkward Silences
											They happen on every early date. Be ready for them. This is the best time I can think of to make meaningful eye contact. Wait for the silence, then look her in the eyes and smile. Truth be told, awkward silences are my favorite part of any date. Make it yours too.
											7. End the Date
											Dates early on shouldn’t linger on forever. You had your plan ready, right? Stick to it. Grab a drink, go for a walk, and then gently work towards the end of the date. Don’t get caught out spending too much money, drinking too much or cancelling on anything else you might have had going on.
											8. Kiss her… on the cheek
											If you like her, walk her to her door. Again, don’t linger. Walk with quiet purpose to her door. Tell her you had a great time and can’t wait to see her again. Then as soon as you get to the door, lean in and kiss her on the cheek. Pull away, make eye contact again and smile. Then turn and walk away. If you’ve done everything else right, she’ll be counting the days until your next great date.
											What do you think? Am I missing anything?
											Yours,
											R</p>
										</div>
									</div>
								</div>