//base colors
$base-font-color: #fff;
$base-background-color: #597754;
$base-button-background-color-hover: rgba(255,255,255,.2);
$base-text-shadow: 1px 1px 1px rgba(0,0,0,.3);
$base-border-color: #fff;
$facebook-color: #4c66a4;
$bootstrap-green: #54BA53;

//section.push top gradient
$gradient-start: rgba(34,34,34,.4);
$gradient-end: rgba(34,34,34,0);

//section.push top gradient
$bottom-gradient-end: rgba(34,34,34,.8);
$bottom-gradient-start: rgba(34,34,34,0);

//profile colors
$base-profile-background-color: #fff;
$base-profile-font-color: #4f4f4f;
$base-profile-border-color: #ccc;
$tabs-background-color: #eee;
