//Base colors
$base-font-color: #fff;
$base-background-color: #597754;
$base-button-background-color-hover: rgba(255,255,255,.2);
$base-text-shadow: 1px 1px 1px rgba(0,0,0,.3);

//section.push top gradient
$gradient-start: rgba(34,34,34,.4);
$gradient-end: rgba(34,34,34,0);