//cover image
$base-cover-image-height: 600px;
$tablet-cover-image-height: 400px;
$mobile-cover-image-height: 200px;

$base-gradient-height: 200px;
$mobile-gradient-height: 100px;

//avatar
$base-avatar-size: 227px;
$tablet-avatar-size: 150px;
$mobile-avatar-size: 100px;

//typography
$profile-name-font-size: 4.5em;
$profile-tablet-name-font-size: 3em;
$profile-mobile-name-font-size: 1.5em;

$profile-detail-font-size: 1.2em;
$profile-tablet-detail-font-size: 1.1em;
$profile-mobile-detail-font-size: .9em;

$profile-detail-line-height: 2.5em;
$profile-tablet-detail-line-height: 1em;
$profile-mobile-detail-line-height: 1em;