//cover image
$base-cover-image-height: 600px;
$tablet-cover-image-height: 400px;
$mobile-cover-image-height: 200px;

$base-gradient-height: 200px;
$mobile-gradient-height: 100px;

//avatar
$base-avatar-size: 227px;
$tablet-avatar-size: 150px;
$mobile-avatar-size: 100px;

//typography
$profile-name-font-size: 4.5em;
$profile-tablet-name-font-size: 3em;
$profile-mobile-name-font-size: 1.8em;

$profile-detail-font-size: 1.2em;
$profile-tablet-detail-font-size: 1.1em;
$profile-mobile-detail-font-size: .7em;

$profile-mobile-detail-font-weight: $regular;

$profile-detail-line-height: 2.5em;
$profile-tablet-detail-line-height: 1em;
$profile-mobile-detail-line-height: 1em;

$post-background-color: #fff;
$post-font-size: 14px;
$post-margin: 20px;
$post-padding: 10px;
$post-shadow: rgba(0,0,0,0.2) 1px 1px 2px;
$post-avatar-size: 52px;
$post-avatar-margin: 10px;
$post-date-color: #999;
$post-title-margin-top: 20px;

$settings-box-padding: 20px;